@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --music-theme: #d43c33;
  --default-font-color: #333;
}

img {
  vertical-align: middle;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  font-size: 14px;
  color: var(--default-font-color);
}

a {
  text-decoration: none;
}

span {
  display: block;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bg {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.player-wrap {
  padding: 21.33333vw 0 10.66667vw;
}

.player-wrap .player {
  width: 64vw;
  height: 64vw;
  margin: 0 auto;
  position: relative;
}

.player-wrap .player::after {
  content: '';
  background: url(https://p5.music.126.net/obj/wonDlsKUwrLClGjCm8Kx/28513977227/139b/06a3/e1e3/929b3b4b49bf5c6ef05c795e9e1f2516.png) no-repeat;
  background-size: contain;
  position: absolute;
  width: 26.13333vw;
  height: 29.06667vw;
  top: -10.66667vw;
  left: 18.66667vw;
}

.player-wrap .player .mask {
  background: url(https://p6.music.126.net/obj/wonDlsKUwrLClGjCm8Kx/28513831157/e8e9/beeb/912c/468bcb523668065ccf6f853c4a084e31.png) no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 5s linear infinite;
}

.player-wrap .player .mask.play {
  animation-play-state: paused;
}

.player-wrap .player .mask img {
  width: 40.26667vw;
  height: 40.26667vw;
  border-radius: 50%;
}

.player-wrap .player .mask::after {
  background: url(https://s3.music.126.net/mobile-new/img/disc_light.png?2bb24f3fd11569809b817b4988f12bc7=) no-repeat;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: contain;
}

.player-wrap .player .pause img {
  width: 9.6vw;
  height: 9.6vw;
  position: absolute;
  left: 28vw;
  top: 26.66667vw;
}

.name-box {
  display: flex;
  padding: 20px 20px;
  align-items: center;
}

.name-box .names {
  flex: 6;
  display: flex;
  flex-direction: column;
  height: 46px;
}

.name-box .names .song-name {
  flex: 1;
  font: 600 16px/16px '微软雅黑';
  padding: 3px 0;
  margin-right: 10px;
}

.name-box .names span {
  display: inline;
  font-size: 14px;
  margin-left: 5px;
  font-weight: lighter;
}

.name-box .names .name {
  flex: 1;
  padding: 3px 0;
  font: 100 10px/10px '宋体';
  line-height: 23px;
}

.name-box .like {
  height: 46px;
  text-align: center;
  flex: 3;
  line-height: 46px;
  position: relative;
}

.name-box .like img {
  width: 28px;
  height: 28px;
}

.name-box .like span {
  position: absolute;
  font-size: 8px;
  left: 53px;
  top: -6px;
}

.name-box .comment {
  height: 46px;
  text-align: center;
  flex: 1;
  line-height: 46px;
  position: relative;
  padding: 0 8px;
}

.name-box .comment img {
  width: 28px;
  height: 28px;
}

.name-box .comment span {
  position: absolute;
  font-size: 8px;
  left: 28px;
  top: -6px;
}

.lyric {
  padding: 20px 0;
  max-height: 75px;
  overflow: auto;
}

.lyric .lyric-item {
  padding: 2px 0;
  text-align: center;
  overflow: hidden;
}

.lyric .lyric-item p {
  transition: .5s linear;
}

.lyric .active {
  color: red;
}

.lyric .active p {
  transform: scale(1.6);
}

.progress {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
}

.progress .progress-item {
  height: 10px;
  background-color: rgba(218, 137, 217, 0.3);
  width: 64vw;
  border-radius: 10px;
}

.progress .progress-item .line {
  background-color: red;
  height: 100%;
  border-radius: 10px;
  width: 0px;
  position: relative;
}

.progress .progress-item .heiht-line {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.progress .progress-item .heiht-line.idDown {
  transform: scale(1.5);
}

section {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

section .tab {
  height: 48px;
  line-height: 48px;
  flex: 1;
  text-align: center;
}
