@import './common.scss';

.box {
    margin: 120px auto;
    width: 350px;
    height: 350px;
    position: relative;
    box-shadow: 0 0 5px 1px red ;
    &:hover .bg{
        transform: rotate(120deg);
    }

    .bg {
        background-color: black;
        width: 350px;
        height: 350px;
        color: white;
        text-align: center;
        line-height: 350px;
        font-size: 30px;
        position: absolute;
        left: 0;
        top: 0;
        transition: 1s linear;
        // 修改基点位置！！！！！！！！！！！！！！！
        transform-origin: 10px 10px;
        &::after{
        content: '';
    width: 15px;
height: 15px;
position: absolute;
left: 15px;
top: 15px;
 background: white;
 border-radius: 50%;
}
    }
}