@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #212121;
}

.nav {
  height: 50px;
  width: 1100px;
  background: green;
  margin: 50px auto 0;
}

.nav li {
  float: left;
  /*line-height: 50px;
        font-size: 18px;
        font-weight: 700;
        font-family: "楷体";
        font-style: italic;*/
  font: bolder oblique 14px/50px "黑体";
  padding: 0 20px;
}

.nav li:hover {
  background: red;
}

.nav li:hover a {
  color: green;
}

.nav li a {
  color: red;
}

.nav li a:hover {
  color: #fff;
}

.header, .navArea {
  width: 1000px;
  height: 35px;
  background: red;
  margin: 0 auto;
}

.header ol, .navArea ol, .header ul, .navArea ul {
  float: left;
}

.header ol li, .navArea ol li, .header ul li, .navArea ul li {
  float: left;
  line-height: 35px;
  font-size: 13px;
  padding: 0 12px;
}

.header ol li a, .navArea ol li a, .header ul li a, .navArea ul li a {
  color: #333;
}

.header ol li:hover, .navArea ol li:hover, .header ul li:hover, .navArea ul li:hover {
  background: #E5E5E5;
}

.header ul, .navArea ul {
  float: right;
}

.logoArea {
  width: 800px;
  height: 100px;
  background: gold;
  margin: 10px auto;
}

.navArea {
  background: brown;
}

.navArea ul {
  float: none;
}

.navArea ul li {
  padding: 0 30px;
}

.navArea ul li:hover {
  background: gold;
}

.content {
  width: 1000px;
  height: 400px;
  background: red;
  margin: 0 auto;
}
