*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: red;
}

h2{
    color: green;
}

html{
    width: 100vw;
    height: 100vh;
    background-color: rgb(138, 134, 212);
}

img{
    width: 200;
    height: 200;
}