@import "./common.scss";

html,body{
    width: 100%;
    height: 100%;
    background: #000;
}

body{
    padding-top: 120px;
}


.runBear{
    width: 200px;
    height: 100px;
    background: url(../img/bear.png);
    // steps() 把整个动画分几步执行 值是number
    animation:  runBear .5s steps(8) infinite , runMove 4s forwards;
}



@keyframes runBear{
    from{ background-position: 0 0; }
    to { background-position: -1600px 0; }
}

@keyframes runMove{
    to{ transform: translateX(600px); }
}