* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.box {
  width: 100%;
  background: #FFFFFF;
  padding-left: 15px;
}

.box1, .box2,
.box3,
.box4 {
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.box1 h2, .box2 h2,
.box3 h2,
.box4 h2 {
  margin-bottom: 20px;
}

.box1 button, .box2 button,
.box3 button,
.box4 button {
  margin-right: 10px;
  font-size: 15px;
  padding: 5px;
}

.box4 {
  border-bottom: none;
}

.tip {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

.tip .cont {
  margin: 230px auto 0;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: #FFFFFF;
}

.tip .cont .hn {
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.tip .cont .body {
  min-height: 300px;
}

.show {
  display: block;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.loading .load1 {
  width: 200px;
  height: 200px;
  margin: 230px auto 0;
  border: 1px solid black;
  background-color: white;
  position: relative;
}

.loading .load1 span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: black;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 100px 100px;
  opacity: .1;
  animation: toto 2.4s linear infinite;
}

.loading .load1 span:nth-child(1) {
  transform: rotate(30deg);
  animation-delay: 0s;
}

.loading .load1 span:nth-child(2) {
  transform: rotate(60deg);
  animation-delay: 0.2s;
}

.loading .load1 span:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: 0.4s;
}

.loading .load1 span:nth-child(4) {
  transform: rotate(120deg);
  animation-delay: 0.6s;
}

.loading .load1 span:nth-child(5) {
  transform: rotate(150deg);
  animation-delay: 0.8s;
}

.loading .load1 span:nth-child(6) {
  transform: rotate(180deg);
  animation-delay: 1s;
}

.loading .load1 span:nth-child(7) {
  transform: rotate(210deg);
  animation-delay: 1.2s;
}

.loading .load1 span:nth-child(8) {
  transform: rotate(240deg);
  animation-delay: 1.4s;
}

.loading .load1 span:nth-child(9) {
  transform: rotate(270deg);
  animation-delay: 1.6s;
}

.loading .load1 span:nth-child(10) {
  transform: rotate(300deg);
  animation-delay: 1.8s;
}

.loading .load1 span:nth-child(11) {
  transform: rotate(330deg);
  animation-delay: 2s;
}

.loading .load1 span:nth-child(12) {
  transform: rotate(360deg);
  animation-delay: 2.2s;
}

@keyframes toto {
  to {
    opacity: 1;
  }
}
