* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #212121;
}

img {
  display: block;
}

input {
  width: 30px;
  height: 30px;
}

input:checked + .box {
  animation-play-state: running;
}

.box {
  width: 150px;
  height: 150px;
  background: red;
}

@keyframes runZ {
  33.3% {
    transform: translateX(500px);
    background: purple;
  }
  66.6% {
    transform: translate(0, 400px);
    border-radius: 50%;
  }
  to {
    transform: translate(500px, 400px) scale(1.3);
  }
}
