.history {
  width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
}
.header {
  height: 60px;
}
.headerLeft {
  display: flex;
  justify-content: baseline;
}
.icon1 {
  font-size: 24px;
}
.body {
  height: 120px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 294px;
  height: 120px;
  padding: 20px;
  p {
    padding: 5px 0;
  }
}
.message {
  margin: 60px auto;
}
.count {
  font-size: 30px;
  color: #3d90ff;
}
.average {
  font-size: 30px;
  color: #52c41a;
}
.maxScore {
  font-size: 30px;
  color: #fccc6d;
}
.minScore {
  font-size: 30px;
  color: #ff6f4f;
}
.defaultText{
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  p{
    padding: 10px 0;
  }
}

span{
  margin: 0 5px;
  font-size: large;
}
.icon2{
  color: green;
}
.icon3{
  color: red;
}