* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

.box {
  width: 200px;
  height: 200px;
  background: red;
  animation: moveBox 5s linear  alternate infinite paused;
}

input {
  width: 100px;
  height: 60px;
}

input:checked + .box {
  animation-play-state: running;
}

@keyframes moveBox {
  25% {
    transform: translateX(600px) scale(0);
    background: green;
  }
  50% {
    transform: translate(600px, 500px);
    border-radius: 50%;
    background: #26320e;
  }
  75% {
    transform: translateY(500px);
    border-radius: 100%;
    background: gold;
  }
  100% {
    transform: translate(0, 0) scale(1.5);
    background: purple;
  }
}
