@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

.box {
  width: 100%;
  height: 100%;
}

.list {
  width: 30%;
  height: 100%;
  background: #CCCCCC;
}

.list ul li {
  height: 50px;
  color: black;
  font: 20px/50px '宋体';
  text-align: center;
}

.list ul li:first-child {
  background-color: #FF4400;
}

.list ul li:hover {
  background: #FF4400;
  color: #FFE3C3;
  cursor: pointer;
}

.data, .message {
  position: absolute;
  width: 70%;
  height: 100%;
  left: 30%;
  top: 0;
  padding: 30px 0 0 80px;
  background-color: #FFFFFF;
}

.data input, .message input {
  width: 18%;
  height: 25px;
  line-height: 25px;
}

thead {
  background: #666666;
  color: white;
}

td {
  text-align: center;
  line-height: 20px;
  padding: 10px 20px;
}

.message {
  z-index: -1;
}

.active {
  background: #FF4400;
}

.show {
  z-index: 1;
}

.tip {
  position: absolute;
  width: 80%;
  height: 80%;
  color: white;
  left: 10%;
  top: 3%;
  background-color: rgba(239, 233, 232, 0.7);
  z-index: 1;
  display: none;
}
