ul {
  list-style: none;
}

.title {
  color: red;
}

nav {
  width: 300px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  display: flex;
}

nav .item {
  flex: 1;
}

nav .active {
  background: tomato;
}

nav .large {
  font-size: 30px;
}

nav .small {
  font-size: 12px;
}
