@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #212121;
}

img {
  display: block;
}

.box {
  width: 300px;
  height: 238px;
  margin: 120px auto 0;
  box-shadow: 0 0 5px 1px #CCC;
  position: relative;
}

.box img {
  width: 100%;
  height: 100%;
}

.box:hover .mask {
  transform: rotate(145deg);
}

.mask {
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  width: 100%;
  height: 100%;
  color: #FFF;
  font: 800 30px / 238px "楷体";
  text-align: center;
  transition: .5s linear;
  transform-origin: 22.5px 22.5px;
}

.mask::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 15px;
  top: 15px;
  background: #FFF;
  border-radius: 50%;
  box-shadow: 2px 2px 3px #F00 inset;
}
