@charset "UTF-8";
/** @format */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.tabs {
  margin: 50px auto 0;
  width: 500px;
  border: 1px solid rebeccapurple;
  padding: 14px;
}

nav {
  height: 50px;
  border-bottom: 1px solid orangered;
  display: flex;
}

nav span {
  flex: 1;
  text-align: center;
  line-height: 49px;
  font-size: 18px;
}

nav span:not(:last-child) {
  border-right: 1px solid gainsboro;
}

.active {
  background: orange;
  font-weight: bold;
  font-family: '宋体';
  color: gray;
}

main {
  min-height: 260px;
  padding: 15px;
}

main section {
  display: none;
}

main section ul > li {
  line-height: 40px;
  font-size: 14px;
  color: grey;
}

main section ul > li span {
  margin-right: 10px;
}

main section ul > li:hover {
  color: blue;
  cursor: pointer;
}

.show {
  display: block !important;
}
