* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
}

.tips {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.tips .tip {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  flex-direction: column;
}

.tips .tip .header {
  display: flex;
  border-bottom: 1px solid black;
}

.tips .tip .header p {
  flex: 1;
  margin-left: 10px;
}

.tips .tip .header span {
  width: 30px;
  cursor: pointer;
}

.tips .tip .btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tips .tip .btns .ok, .tips .tip .btns .no {
  height: 30px;
  margin-right: 5px;
  padding: 2px 10px;
}

.show {
  display: block !important;
}
