
.title{
  text-align: center;
  font-weight: 500;
}
.inpBtn{
  margin-top: 20px;
  display: flex;
  align-items: center;
  input{
    flex: 1;
    margin-right: 10px;
    height: 40px;
    outline: none;
    padding: 0 10px;
  }
}