@import "./common.scss";


html, body , .app{
    width: 100%;
    height: 100%;
}

body{
    font-size: 14px;
}
.app{
    display: flex;
    flex-direction: column;
    background: #F4F4F4;
}
header{
    height: .5rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 0.08rem 0 0.14rem;
}
.logo img{
    height: 0.22rem;
}

.signIn img{
    height: 0.33rem;
}
.search{
    height: 0.36rem;
    border:0.01rem solid #FB5800;
    border-radius: .18rem;
    flex: 1;
    margin: 0 0.13rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
    p{
        font-size: .14rem;
        color: #666;
        margin-left: .15rem;
    }
    span{
        width: .64rem;
        height: .3rem;
        background: #FF8500;
        color: #FFF;
        border-radius: .15rem;
        margin-right: 0.02rem;
        line-height: .3rem;
        text-align: center;
        font-size: .14rem;
    }
}

main{
    flex:1;
    background: pink;
    overflow: hidden;
    overflow-y: scroll;
    li{
        line-height: 80px;
        border-bottom: 1px  solid #CCC;
    }
}

footer{
    height: 50px;
    background: lime;
}

// px 绝对单位
// em 相对单位 相对父元素
// rem 相对单位  相对根元素html
// 1rem : 16px ----> 1rem : 100px

// 375              750
// header 20px      header 40px
//     1em              1em
//     2em
//     3em
// // 浏览器默认 16px = 1em = 1rem
// // 14px = ?rem  0.875    0.14rem
// // 12px = ?rem  0.75     0.12rem   0.05rem
// html  16px              32px
// header h:3rem;->48      96
//     1rem-16             32
//     2rem-32
// section h:5rem->80
//     1.5rem ->24
//     3rem->48
