* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html, body {
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #212121;
}

.box1 {
  width: 99px;
  height: 100px;
  margin: 50px auto 0;
}

.box1 span {
  width: 15px;
  height: 100px;
  border: 8px;
  background: blue;
  float: left;
  animation: floata .6s linear infinite;
}

.box1 span:not(:last-child) {
  margin-right: 6px;
}

.box1 span:nth-child(2) {
  animation-delay: 0.12s;
}

.box1 span:nth-child(3) {
  animation-delay: 0.24s;
}

.box1 span:nth-child(4) {
  animation-delay: 0.36s;
}

.box1 span:nth-child(5) {
  animation-delay: 0.48s;
}

@keyframes floata {
  0%,
  100% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
}

.box2 {
  width: 200px;
  height: 200px;
  margin: 200px auto 0;
  position: relative;
}

.box2 span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  transform-origin: 100px 100px;
  background: black;
  animation: round 1.2s linear infinite;
}

.box2 span:nth-child(1) {
  transform: rotate(30deg);
  opacity: 0.1;
  animation-delay: 0s;
}

.box2 span:nth-child(2) {
  transform: rotate(60deg);
  opacity: 0.1;
  animation-delay: 0.1s;
}

.box2 span:nth-child(3) {
  transform: rotate(90deg);
  opacity: 0.1;
  animation-delay: 0.2s;
}

.box2 span:nth-child(4) {
  transform: rotate(120deg);
  opacity: 0.1;
  animation-delay: 0.3s;
}

.box2 span:nth-child(5) {
  transform: rotate(150deg);
  opacity: 0.1;
  animation-delay: 0.4s;
}

.box2 span:nth-child(6) {
  transform: rotate(180deg);
  opacity: 0.1;
  animation-delay: 0.5s;
}

.box2 span:nth-child(7) {
  transform: rotate(210deg);
  opacity: 0.1;
  animation-delay: 0.6s;
}

.box2 span:nth-child(8) {
  transform: rotate(240deg);
  opacity: 0.1;
  animation-delay: 0.7s;
}

.box2 span:nth-child(9) {
  transform: rotate(270deg);
  opacity: 0.1;
  animation-delay: 0.8s;
}

.box2 span:nth-child(10) {
  transform: rotate(300deg);
  opacity: 0.1;
  animation-delay: 0.9s;
}

.box2 span:nth-child(11) {
  transform: rotate(330deg);
  opacity: 0.1;
  animation-delay: 1s;
}

.box2 span:nth-child(12) {
  transform: rotate(360deg);
  opacity: 0.1;
  animation-delay: 1.1s;
}

@keyframes toto {
  to {
    transform: rotate(360deg);
  }
}

@keyframes round {
  to {
    opacity: 1;
  }
}

.menu {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #d75c5c;
  margin: 150px auto;
  position: relative;
  text-align: center;
  line-height: 100px;
}

.menu h2 {
  height: 100px;
  border-radius: 50%;
  position: relative;
  color: white;
  background: red;
  z-index: 10;
}

.menu p {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #4d4d99;
  position: absolute;
  line-height: 50px;
  text-align: center;
  top: 25px;
  left: 25px;
  transform-origin: 25px 100px;
  transition: .3s linear;
  z-index: 1;
}

.menu p span {
  display: block;
}

.menu:hover p {
  top: -50px;
}

.menu:hover p:nth-of-type(1) {
  transform: rotate(30deg);
}

.menu:hover p:nth-of-type(1) span {
  transform: rotate(-30deg);
}

.menu:hover p:nth-of-type(2) {
  transform: rotate(60deg);
}

.menu:hover p:nth-of-type(2) span {
  transform: rotate(-60deg);
}

.menu:hover p:nth-of-type(3) {
  transform: rotate(90deg);
}

.menu:hover p:nth-of-type(3) span {
  transform: rotate(-90deg);
}

.menu:hover p:nth-of-type(4) {
  transform: rotate(120deg);
}

.menu:hover p:nth-of-type(4) span {
  transform: rotate(-120deg);
}

.menu:hover p:nth-of-type(5) {
  transform: rotate(150deg);
}

.menu:hover p:nth-of-type(5) span {
  transform: rotate(-150deg);
}

.menu:hover p:nth-of-type(6) {
  transform: rotate(180deg);
}

.menu:hover p:nth-of-type(6) span {
  transform: rotate(-180deg);
}

.menu:hover p:nth-of-type(7) {
  transform: rotate(210deg);
}

.menu:hover p:nth-of-type(7) span {
  transform: rotate(-210deg);
}

.menu:hover p:nth-of-type(8) {
  transform: rotate(240deg);
}

.menu:hover p:nth-of-type(8) span {
  transform: rotate(-240deg);
}

.menu:hover p:nth-of-type(9) {
  transform: rotate(270deg);
}

.menu:hover p:nth-of-type(9) span {
  transform: rotate(-270deg);
}

.menu:hover p:nth-of-type(10) {
  transform: rotate(300deg);
}

.menu:hover p:nth-of-type(10) span {
  transform: rotate(-300deg);
}

.menu:hover p:nth-of-type(11) {
  transform: rotate(330deg);
}

.menu:hover p:nth-of-type(11) span {
  transform: rotate(-330deg);
}

.menu:hover p:nth-of-type(12) {
  transform: rotate(360deg);
}

.menu:hover p:nth-of-type(12) span {
  transform: rotate(-360deg);
}
